* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

body {
    font-family: 'Noto Sans JP', sans-serif;	
	background: #f2f2f2;
}

/* * ============================== */
/* * ============ HEADER ========== */
/* * ============================== */

.navbar {
	background: #48bcff;
	position: sticky;
	top: 0;
}

.navbar a {
	color: #fff;
	display: inline-block;
	padding: 20px;
	width: 100%;
	text-align: center;
	color: #000;
	transition: .3s ease-out all;
}

.navbar a:hover {
	background: #1D2F3D;
	color: #fff;
	text-decoration: none;
}

.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

/* * ============================== */
/* * ===== CONTENEDOR IMAGEN ====== */
/* * ============================== */

.contenedor-imagen {
	height: 90vh;
}

.contenedor-imagen img {
	width: 100%;
	height: 100%;
	vertical-align: center;
	object-fit: cover;
	object-position: 0 bottom;
}

/* * ============================== */
/* * ============ MAIN ============ */
/* * ============================== */

.contenido{
	margin-left: 10%;
	margin-top: 35px;
	width: 100%;
	height: -60%;
}

}
main {
	min-height: 110vh;
}	
main .contenido .imgg{
	float: left;

	width: 22%;
	height: 23%;
	margin-right: 6%;
}

}
.dede{
	padding: 10%;
}
main .contenido p {
	align-content: center;
	margin-bottom: 20px;
	margin-right: -90px
	line-height: 30px;
	color: #525151;
}
main .personal{
	margin-left: 10%;
	margin-right: 10%;
}
.post{
	margin: 5%;
}
.w3-light-grey{
	margin: 5%;
}
main .contenido .titulo {
    font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	padding-top: 40px;
	text-align: center;
	margin-left: 1%;
	margin-right: 22%;
}

main .contenido .fecha {
	font-size: 14px;
	color: #B5B5B5;
}

/* * ============================== */
/* * ============ ASIDE =========== */
/* * ============================== */

aside {
	min-width: 30%;
	margin: 40px 20px 20px -120px;
	height: 100%;
	background: #1D2F3D;
	padding: 20px;
	border-radius: 3px;
	position: sticky;
	top: 30%;
}

aside .titulo {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 20px;
	color: #f2f2f2;
}


aside .indice a {
	display: block;
	margin-bottom: auto;
	color: #FFCD48;
}

/* * ============================== */
/* * ========== FOOTER ============ */
/* * ============================== */
footer .navbar{
	position: sticky;
	bottom: 0;
}
	


/* * ============================== */
/* * ====== MEDIA QUERIES ========= */
/* * ============================== */
@media screen and (max-width: 650px){
	.navbar .contenedor {
		flex-wrap: wrap;
		margin: 0;
		position: relative;
		align-content: center;
		width: 100%;
	}

	.navbar a {
		width: auto;
		flex: 1;
	}

	.contenedor-imagen {
		height: 50vh;
	}
	main .contenedor img{
		width: 10%;
		height: 4%;
	}
	main .titulo{
		text-align: center;
		font-size: 20px;
		margin-right: auto;
		margin-left: auto;
	}

	main .contenedor {
		flex-direction: column;

	}
	aside {
		position: static;
		text-align: left;
		width: 100%;
		margin: 6px;
	}
	main .contenido imgg{
		width:100%;
		height:40%;
		margin-right: 4%;
		margin-left: -6%;
	}
}